.vscode/
Work/

# Yocto and BSP
build/tmp/
build/downloads/
build/sstate-cache/
build/cache/

# LaTeX temporary and auxiliary files to ignore everywhere
*.aux
*.bbl
*.blg
*.bcf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.blg
*.fls
*.fdb_latexmk
*.nav
*.snm
*.synctex
